<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hello stranger</title>
  </head>
  <body>
    <h1>hello strangar</h1>
    <a href="/login">
      <button name="login">LOG IN</button>
    </a>
    <a href="/signup">
      <button href="/signup">SIGN UP</button>
    </a>
  </body>
</html>