<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hi</title>
  </head>
  <body>
    <h1>hi frand</h1>
    <%= user.id %>
    <%= user.name %>
    <a href="/logout">
      <button type="logout" name="button"> say goodbye :( </button>
    </a>
  </body>
</html>