<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hi Ol' Friend!</title>
  </head>
  <body>
    <form class="login" action="/login" method="post">
      <span>Username</span> <input type="text" name="username" value="<%= username %>">
      <span>Password</span> <input type="text" name="password" value="">
      <input type="submit" name="login-submit" value="Come back to frandz">
    </form>
  </body>
</html>