<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Won't you be my neighbor?</title>
  </head>
  <body>
    <form class="form-class" action="/newUser" method="post">
      <input type="text" name="signUpEmail" value="" placeholder="Email">
      <input type="text" name="signUpPassword" value="" placeholder="Password">
      <input type="text" name="signUpPasswordConfirm" value="" placeholder="Confirm Password">
      <input type="submit" value="Become Neighbor">
    </form>
  </body> 
</html>